<div class="footer row ">
  <div class="col-10">
    <div class="footer-copyright">
      Sharing our <i class="fas fa-heart"></i> through language
    </div>
  </div>
  <div class="col-2">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
