  <div class="banner">
    <div class="col-8  px-5 py-5 container" >
      <h1>Traduz Fácil</h1>
      <h2><em>Tradução sem complicação.</em></h2>
      <p>A melhor p'lataforma de conexão entre tradutores e clientes.</p>
    </div>
  </div>
  
<div class="container">
  <div class="row">
    <div class="col-4 px-5 py-5">
        <%= yield %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Para quem precisa de traduções</h5>
          <p class="card-text">Cadastre aqui seu pedido e receba cotações. <br>
          Você poderá verificar preço, prazo e portifolio antes de decidir.</p>
          <%= link_to "Cadastre seu pedido", new_job_path, :class => 'btn-green' %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Para tradutores</h5>
          <p class="card-text">Encontre clientes e oportunidades de trabalho. <br> Faça sua proposta! Mostre a qualidade de seu trabalho!</p>
          <%= link_to "Busque demandas por tradução", jobs_path, :class => 'btn-green' %>
          </div>
      </div>
    </div>
  </div>

</div>
