<h1>Jobs for fulaninho</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Content</th>      
    </tr>
  </thead>

  <tbody>
    <% @myproposals.each do |proposal| %>
      <tr>
        <td><%= proposal.job.content %></td>
        <td><%= proposal.job.id %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
