.btn-green {
  color: white;
  background: $green;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-green:hover {
  opacity: 1;
  color: white;
}
