.card-traduz {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
}